# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.db
backend/news.db

# Node
node_modules/
.next/
dist/
out/
build/

# IDE
.vscode/
.idea/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
